[user]
  email = dev@exploit.design
  name = wh1t3fox
  signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIDs5GwFhPMSe+gLZOmFgqPwNFRuxNob0bd07curuZOzm

[gpg]
  format = ssh

[gpg "ssh"]
  program = "/opt/1Password/op-ssh-sign"

[commit]
  gpgsign = true

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[pull]
	rebase = true

[core]
    pager = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true  # use n and N to move between diff sections
    dark = true      # or light = true, or omit for auto-detection
    syntax-theme = "ansi" # Use terminal colors
    true-color = always
    # Rest of your delta config:
    navigate = true
    line-numbers = true
    side-by-side = true

[merge]
    conflictstyle = zdiff3

[include]
    # Import ${XDG_CONFIG_HOME:-$HOME/.config}/tinted-theming/delta.gitconfig.
    # It will set delta.light=(true|false):
    path = ~/.config/tinted-theming/delta.gitconfig
