Xft.dpi: 120

!URxvt.font: 		xft:Iosevka Nerd Font Mono Regular:size=12
URxvt.font: 		xft:SF Pro Regular:size=12
URxvt.scrollBar: 	false
URxvt.perl-ext-common:resize-font
URxvt.letterSpace: 	0

URxvt.keysym.C-plus:  	resize-font:bigger
URxvt.keysym.C-equal:  	resize-font:smaller
URxvt.keysym.C-minus:  	resize-font:reset
URxvt.keysym.C-question:resize-font:show

URxvt.keysym.Control-Up:	\033[1;5A
URxvt.keysym.Control-Down:	\033[1;5b
URxvt.keysym.Control-Left:	\033[1;5D
URxvt.keysym.Control-Right:	\033[1;5C
Urxvt.keysym.Control-L:	command:\033c

URxvt.depth:				32
URxvt.internalBorder:		5

! These might also be useful depending on your monitor and personal preference:
Xft.autohint: 0
Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintfull
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb

!#define background_opacity 80

! base16 Tomorrow Night Eighties
! Scheme author: Chris Kempson (http://chriskempson.com)

#define base00 #2d2d2d
#define base01 #393939
#define base02 #515151
#define base03 #999999
#define base04 #b4b7b4
#define base05 #cccccc
#define base06 #e0e0e0
#define base07 #ffffff
#define base08 #f2777a
#define base09 #f99157
#define base0A #ffcc66
#define base0B #99cc99
#define base0C #66cccc
#define base0D #6699cc
#define base0E #cc99cc
#define base0F #a3685a

#define border #6699cc

*foreground:   base05
#ifdef background_opacity
*background:   [background_opacity]base00
#else
*background:   base00
#endif
*cursorColor:  base05

*color0:       base00
*color1:       base08
*color2:       base0B
*color3:       base0A
*color4:       base0D
*color5:       base0E
*color6:       base0C
*color7:       base05

*color8:       base02
*color9:       base08
*color10:      base0B
*color11:      base0A
*color12:      base0D
*color13:      base0E
*color14:      base0C
*color15:      base07

! Note: colors beyond 15 might not be loaded (e.g., xterm, urxvt),
! use 'shell' template to set these if necessary
*color16:      base09
*color17:      base0F
*color18:      base01
*color19:      base02
*color20:      base04
*color21:      base06
*color22:      base03

*border:       border
